<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.gikka.local-extractor</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/honey/gikka-local/server.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/honey/gikka-local/server.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/honey/gikka-local/server.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/honey/gikka-local</string>
</dict>
</plist>
